/**
 * Projet Web - GeoStats
 * CLEMENT, O'ROURKE & FUZIER © 2017
 */

html, body {
    height: 100%;
    width: 100%;
}

#header {
    margin-top: 10px;
}

#map {
    height: 370px;
}

.unChart {
    height: 300px;
    width: 50%;
    margin-bottom: 100px;
}

#titreTab {
	font-weight : bold;
}