/**
 * Projet Web - GeoStats
 * CLEMENT, O'ROURKE & FUZIER © 2017
 */

@import url('https://fonts.googleapis.com/css?family=Quicksand');

html, body {
    height: 100%;
    width: 100%;
    background-image: url('image/bg.png');
    padding-top: 1%;
}

@media screen and (max-width: 768px) {
    html, body {
        padding-top: 0px;
    }
}

#page {
    background-color: #FFFFFF;
    border-width : 1px;
    border-color : #000000;
    border-style: ridge;
    border-bottom: none;
}

#header {
    margin-top: 10px;
    font-family: 'Quicksand', sans-serif;
}

#map {
    height: 370px;
}

.unChart {
    height: 300px;
    width: 100%;
    height: 400px;
    margin-bottom: 100px;
}

#titreTab {
    font-weight : bold;
}

#myliste {
    width: 20%;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
}

@media screen and (max-width: 768px) {
    #myliste {
        width: 40%;
    }
}

@media screen and (max-width: 500px) {
    #myliste {
        width: 100%;
    }
}

footer {
    background-color: #F8F8F8;
    text-align: center;
    padding-top: 1%;
    padding-bottom: 2%;
    font-family: 'Quicksand', sans-serif;
    border-width : 1px;
    border-color : #000000;
    border-style: ridge;
}

footer a {
    color: #4099FF;
}

footer a:hover {
    color: brown;
}

.credits {
    font-size: 35px;
    margin-bottom: 1%;
}